<body>
<span><h1>Owners</h1>
      <a href="/owner/create/">Add new one</a>
</span>
<ul>
    {% for owner in owners %}
        <li>
            Actions: <a href="/owner/{{ owner.owner_id }}/">Detail</a>
            <p><strong>First name:</strong> {{ owner.first_name }}</p>
            <p><strong>Last name:</strong> {{ owner.last_name }}</p>
            <p><strong>Birthdate:</strong> {{ owner.birth_date }}</p>
            <p><strong>Address:</strong> {{ owner.address }}</p>
            <p><strong>Nationality:</strong> {{ owner.nationality }}</p>
        </li>
    {% empty %}
        <li>No owners yet.</li>
    {% endfor %}
</ul>
</body>
